body {
  position: relative;
  overflow-x: hidden;
}

body, html { 
  height: 100%;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
  background-color: transparent;
}

#sidebar-wrapper {
  z-index: 1000;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  overflow-x: hidden;
  background: $dark-grey;
  transition: all 0.5s ease;
  padding: 0;
  display: block;
  box-shadow: inset 0px 0px 5px 1px #000;
  
  ul {
    margin-top: 40px;
  }

  ul, li {
    display: block;
  }

  li a {
    width: 100%;
    display: inline-block;
    color: $sidebar-color;
    font-family: $helv-reg;
    padding: 6px 20px;
    transition: color 0.5s ease;
    &:hover {
     text-decoration: none;
     color: #aaa;
    }
  }
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper.toggled #sidebar-wrapper {
  width: $sidebar-width;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

.wrapper {
  padding-left: 0;
  transition: padding-left 0.5s ease;
}

.wrapper.toggled {
  padding-left: $sidebar-width;
}

@media (max-width: 767px) {
  .wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width-mobile;
  }

  .wrapper.toggled {
    padding-left: $sidebar-width-mobile;
  }
}