/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, ../sass/hamburguers-source/_base.scss */
.hamburger {
  padding: 22px 22px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
/* line 21, ../sass/hamburguers-source/_base.scss */
.hamburger:hover {
  opacity: 0.7;
}

/* line 31, ../sass/hamburguers-source/_base.scss */
.hamburger-box {
  width: 31px;
  height: 14.5px;
  display: inline-block;
  position: relative;
}

/* line 38, ../sass/hamburguers-source/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.75px;
}
/* line 43, ../sass/hamburguers-source/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 31px;
  height: 1.5px;
  background-color: #eee;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 56, ../sass/hamburguers-source/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 62, ../sass/hamburguers-source/_base.scss */
.hamburger-inner::before {
  top: -6.5px;
}
/* line 66, ../sass/hamburguers-source/_base.scss */
.hamburger-inner::after {
  bottom: -6.5px;
}

/*
 * Spin
 */
/* line 6, ../sass/hamburguers-source/types/_spin.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 10, ../sass/hamburguers-source/types/_spin.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
/* line 15, ../sass/hamburguers-source/types/_spin.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 22, ../sass/hamburguers-source/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 27, ../sass/hamburguers-source/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
/* line 34, ../sass/hamburguers-source/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
We can add import for more 'types' of hamburgers here
*/
@font-face {
  font-family: HelveticaNeueBlkCn;
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf") format("opentype");
}
@font-face {
  font-family: HelveticaNeueMd;
  src: url("../fonts/HelveticaNeueLTStd-Md.otf") format("opentype");
}
@font-face {
  font-family: HelveticaNeueLt;
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf") format("opentype");
}
/* line 1, ../sass/_sidebar.scss */
body {
  position: relative;
  overflow-x: hidden;
}

/* line 6, ../sass/_sidebar.scss */
body, html {
  height: 100%;
}

/* line 10, ../sass/_sidebar.scss */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

/* line 16, ../sass/_sidebar.scss */
#sidebar-wrapper {
  z-index: 1000;
  left: 18.2%;
  width: 0;
  height: 100%;
  margin-left: -18.2%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #3C3C3C;
  transition: all 0.5s ease;
  padding: 0;
  display: block;
  box-shadow: inset 0px 0px 5px 1px #000;
}
/* line 30, ../sass/_sidebar.scss */
#sidebar-wrapper ul {
  margin-top: 40px;
}
/* line 34, ../sass/_sidebar.scss */
#sidebar-wrapper ul, #sidebar-wrapper li {
  display: block;
}
/* line 38, ../sass/_sidebar.scss */
#sidebar-wrapper li a {
  width: 100%;
  display: inline-block;
  color: #f1f1f1;
  font-family: HelveticaNeueMd, sans-serif;
  padding: 6px 20px;
  transition: color 0.5s ease;
}
/* line 45, ../sass/_sidebar.scss */
#sidebar-wrapper li a:hover {
  text-decoration: none;
  color: #aaa;
}

/* line 52, ../sass/_sidebar.scss */
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* line 56, ../sass/_sidebar.scss */
.wrapper.toggled #sidebar-wrapper {
  width: 18.2%;
}

/* line 60, ../sass/_sidebar.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
}

/* line 65, ../sass/_sidebar.scss */
.wrapper {
  padding-left: 0;
  transition: padding-left 0.5s ease;
}

/* line 70, ../sass/_sidebar.scss */
.wrapper.toggled {
  padding-left: 18.2%;
}

@media (max-width: 767px) {
  /* line 75, ../sass/_sidebar.scss */
  .wrapper.toggled #sidebar-wrapper {
    width: 29%;
  }

  /* line 79, ../sass/_sidebar.scss */
  .wrapper.toggled {
    padding-left: 29%;
  }
}
/* line 2, ../sass/_main.scss */
#page-content-wrapper button.toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 7, ../sass/_main.scss */
#page-content-wrapper button.toggle-button:focus {
  outline: 0;
}
/* line 12, ../sass/_main.scss */
#page-content-wrapper .bg-nycity {
  background-image: url(../img/background-ny.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  min-height: 720px;
}
/* line 20, ../sass/_main.scss */
#page-content-wrapper .center-content-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 29, ../sass/_main.scss */
#page-content-wrapper .center-content-frame:before {
  position: absolute;
  content: 'a';
  color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 39, ../sass/_main.scss */
#page-content-wrapper .center-content-frame.red-layer:before {
  background: rgba(151, 30, 0, 0.75);
}
/* line 43, ../sass/_main.scss */
#page-content-wrapper .center-content-frame.blue-layer:before {
  background: rgba(0, 30, 50, 0.75);
}
/* line 47, ../sass/_main.scss */
#page-content-wrapper .center-content-frame.green-layer:before {
  background: rgba(0, 30, 0, 0.75);
}
/* line 51, ../sass/_main.scss */
#page-content-wrapper .center-content-frame.grey-layer:before {
  background: rgba(30, 30, 30, 0.75);
}
/* line 55, ../sass/_main.scss */
#page-content-wrapper .center-content-frame.brown-layer:before {
  background: rgba(139, 69, 19, 0.75);
}
/* line 59, ../sass/_main.scss */
#page-content-wrapper .home-title {
  position: relative;
}
/* line 61, ../sass/_main.scss */
#page-content-wrapper .home-title .main-title {
  font-family: HelveticaNeueBlkCn, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 3.95em;
}
/* line 68, ../sass/_main.scss */
#page-content-wrapper .home-title .small-text-title {
  font-family: HelveticaNeueLt, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0.8em;
  display: inline-block;
}
